# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# Distribution / packaging
build/

# Environments
env/

# Architecture drawing
*.drawio

# Terraform
*.terraform/
*.tfstate
*.backup

# Secrets
secrets
